[2022-05-02 21:17] pradn commented on #593
In the update in [this comment](https://github.com/googleapis/python-pubsub/issues/593#issuecomment-1102826417) are you saying that your program crashes when this error occurs? If you look in [the code](https://github.com/googleapis/python-pubsub/blob/0a11e078660eb7213a1a323fdf701d802fb1149c/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py#L971), we call future.result() and th

[2022-05-03 16:14] jtressle commented on #593
@pradn please see below:

What happens when I get the `AcknowledgeError` is that the callback completes, causing my long-running processes to end prematurely.  Below is the code I'm using:

`def worker(
	project_id,
	subscription):
	''' receives messages from a pull subscription'''

	#create subscriber
	subscriber = pubsub_v1.SubscriberClient()
	subscription_path = subscriber.subscription_path(pro

[2022-05-04 14:28] simonvanderveldt commented on #661
I think we're running into the same issue as this
[code]

I'm not aware that we're acking multiple times. I mean the message is still there so we try again when we rerun the application that acks it, but this also happend the first time we encountered this message as far as I know. It does only happen every now and then for us, not sure how to reproduce.
Bug was introduced by #550, we've reverted

[2022-05-04 16:42] acocuzzo commented on #671
Hi @inf3rnus
You're correct that it gives the Future time to resolve. It's not necessary to print the result, you can also do the following:
[code]
the [result() function](https://github.com/googleapis/python-pubsub/blob/0a11e078660eb7213a1a323fdf701d802fb1149c/google/cloud/pubsub_v1/publisher/futures.py#L66) calls [result()](https://docs.python.org/3/library/concurrent.futures.html) on the underl

[2022-05-04 18:00] abarberenaCPDS commented on #261
Hi @plamut, I just found this thread about a similar problem that I have.

I can provide more details if needed.

I am trying to run the steps in this tutorial from Google
  - https://cloud.google.com/pubsub/docs/publish-receive-messages-client-library

I am using a RaspberryPI with an aarch64 centos:

[code]

And this is the error trying to run the sample code:

[code]

These are my venv versions

[2022-05-04 21:18] acocuzzo commented on #675
PR #678 addresses issue #1, addressing 2. in a followup

[2022-05-04 21:22] plamut commented on #261
@abarberenaCPDS As of 2022 I do not maintain this library anymore, and thus do not have that good an insight into it.

I suggest opening a new issue for better visibility, and I'm sure someone will take over and try to help with your problem.

cc: @pradn @acocuzzo

[2022-05-05 06:52] abarberenaCPDS opened #679 "Unable to run PubSub QuickStart - Python Library Raspberry Pi Centos AARCH64"
Hi Google team 👋.

I wanted to let you know that I followed the steps on this QuickStart, https://cloud.google.com/pubsub/docs/publish-receive-messages-client-library, but I got stuck. I can't publish a simple message.

I'd like to suggest if you could add in the documentation a matrix of the Linux distros supported, as well a prerequisites/dependencies guide if needed.

### Environment details

#

[2022-05-05 19:26] pradn commented on #593
Yes, you should be calling `ack_future.result()` in the try block.

It's possible to have a problem with the background modacking process. In your case, the background leaser would send a modack every 600 seconds up to 7200 seconds. If there's a modack error, we [log](https://github.com/googleapis/python-pubsub/blob/0a11e078660eb7213a1a323fdf701d802fb1149c/google/cloud/pubsub_v1/subscriber/_protoc

[2022-05-10 19:45] #647 closed

[2022-05-11 14:20] #661 closed

[2022-05-11 20:10] meredithslota commented on #679
The quickstart page (https://cloud.google.com/pubsub/docs/publish-receive-messages-client-library) does cross-reference the Python development environment setup guide (https://cloud.google.com/python/docs/setup) that includes information about Linux (it's not product-specific, so it's in the general dev documentation instead of in the Pub/Sub documentation).

My first thought was that this was an

[2022-05-11 23:34] hongalex commented on #676
The subscription's ack deadline is not used by the client library. Because our client libraries provide automatic lease management, we will continue to extension the expiration time by calling `ModifyAckDeadline` under the hood, limited by [`max_lease_duration`](https://github.com/googleapis/python-pubsub/blob/5eee19ee3db0c779d87d840a94e348cbc246eab0/google/cloud/pubsub_v1/types.py#L159).

[2022-05-12 00:08] hongalex opened #684 "extra min/max comparison in _obtain_ack_deadline"
When calling [_obtain_ack_deadline](https://github.com/googleapis/python-pubsub/blob/5eee19ee3db0c779d87d840a94e348cbc246eab0/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py#L396), there's an extra min/max comparison when comparing `self.flow_control.max_duration_per_lease_extension` against `histogram.MIN_ACK_DEADLINE` vice versa.

I initially thought that there weren't enou

[2022-05-18 09:04] geosach commented on #389
Hello, until a v2.0 API is implemented, is it possible to provide some examples on how to combine the library with projects that use other async libraries? For instance, in our FastAPI based project we need to implement consumers that store data on a mongo db database using an async mongo library (AsyncIOMotorClient). I believe that this is a common use case.

Is this something that can be impleme

[2022-05-18 13:25] parthea commented on #536
I reviewed the mypy failures for the generated code and found that the warnings are specific to the customized portion of the generated code.

For example, for `google/pubsub_v1/types/__init__.py:82 error: Name "google" is not defined`,  the specific replacement in owlbot.py is here:
https://github.com/googleapis/python-pubsub/blob/8513f539a5dfad8ea22126706f3a4e9580df25dc/owlbot.py#L273-L288

For

[2022-05-23 18:49] #676 closed

[2022-05-24 05:12] abarberenaCPDS commented on #679
Hi @meredithslota 👋,

Thanks for following up. The problem ended up being a mediocre and slow micro SD card 😞.

Some file were corrupted during the prerequisites phase. So, after upgrading to a Sandisk gold card, I was able to install, compile and run the QuickStart with no issues. Not all Micro SD cards are created equal I guess... 💾

I completed my PubSub exercise successfully.

Abe

[2022-05-24 05:12] #679 closed

[2022-05-24 14:47] acocuzzo commented on #504
It was PR #626.

[2022-05-25 21:52] alexcreek opened #687 "How to assign labels to a topic on creation?"
I'm trying to create a topic and assign labels to it, but I can't figure out how to do it.  I see that [gcloud pubsub topics create](https://cloud.google.com/sdk/gcloud/reference/pubsub/topics/create) supports this as well as the [gcp terraform provider](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_topic).

I've tried passing labels as the [metadata argumen

[2022-05-26 09:03] MiltiadisKoutsokeras opened #688 "Stack trace with google-cloud-pubsub==1.6.1 and protobuf==4.21.0"
#### Issue

While deploying Docker image to App Engine containing application that uses `google-cloud-pubsub`. This is the first time this happens, probably due to a change in protobuf. The application is a Web service running on [Gunicorn](https://gunicorn.org/), using [Flask](https://flask.palletsprojects.com) to handle PubSub pushed messages. The application itself does not instantiate the PubS

[2022-05-26 14:50] acocuzzo commented on #688
Hi @MiltiadisKoutsokeras, thanks for the details.

This has also caused failures in our integration tests, so I will be addressing this issue very shortly.

[2022-05-26 15:49] pradn opened #689 "Log when a new `stream_ack_deadline_seconds` is sent on the StreamingPull BiDi stream"
We can do an info-level log whenever the value changes: https://github.com/googleapis/python-pubsub/blob/6fa03be779d6a7105bb7c029b95d4c357d2a49df/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py#L742

It may help debug issues. More generally, we might want to log changes in critical parameters like [changes](https://github.com/googleapis/python-pubsub/blob/6fa03be779d6a7105bb7

[2022-05-26 19:55] #688 closed

[2022-05-27 16:30] acocuzzo commented on #689
We do also have debug logs for the current deadline value:
[code]

[2022-05-27 19:24] acocuzzo commented on #687
Hi @alexcreek
Yes, you can assign labels when you create a topic.
When you create a topic with a call to `create_topic` on a PublishClient, you can pass additional attributes to the request:
[code]
    The function [create_topic](https://github.com/googleapis/python-pubsub/blob/24f76baeb53c53b41d0fb8b0fc68c4de7c024bac/google/pubsub_v1/services/publisher/client.py#L408)
    accepts a [Topic](https:

[2022-05-27 19:35] #687 closed

[2022-05-27 20:17] #671 closed

[2022-05-27 20:22] #689 closed

[2022-05-28 19:45] acocuzzo opened #694 "Deprecation: asyncio_mode legacy value deprecated"
#### Warnings
[code]

[2022-05-29 18:23] #694 closed

[2022-05-30 18:37] parthea opened #697 "Add owl-bot as a required check"
Owl bot post processor failed in #691 and the PR should not have been merged. This issue tracks adding owl bot as a required check.

[2022-06-01 21:26] major opened #701 "Use unittest.mock instead of mock"
The `mock` module is deprecated and Python 3 provides `unittest.mock` to provide the same functionality.

[2022-06-04 14:22] redvg opened #705 "'ProtoType' object has no attribute 'DESCRIPTOR'"
constructing PubsubMessage fails with an exception from proto, this may well be related to https://github.com/protocolbuffers/protobuf/issues/10051 tho it would still be great to have some fix

#### Environment details

  - OS type and version:
  - Python version: CPython 3.8.5
  - pip version: 22.1.2
  - `google-cloud-pubsub` version: 2.2.0

#### Steps to reproduce

trying to marshall any kind of

[2022-06-06 09:47] leonardara opened #706 "google.api_core.exceptions.InvalidArgument: 400 Request contains an invalid argument."
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-06-06 12:50] leonardara commented on #706
And i tried to follow this suggestion to get more details:
[code]

but got nothing:
[code]

[2022-06-06 19:48] gzamb commented on #504
I'm seeing the same thing as @sls-cat. Here are my dependencies:

[code]
I was previously on v2.8 on python3.9 and it worked fine.

[2022-06-06 20:20] meredithslota commented on #697
@parthea is this something you will do or should we ask the Pub/Sub library maintainer to do this?

[2022-06-06 21:16] parthea commented on #697
Fixed in #698

[2022-06-06 21:16] #697 closed

[2022-06-07 01:03] coderanger opened #707 "Odd gRPC error on pull retry"
This showed up in our error tracking, likely some kind of transient issue which caused the retry but possibly a bug in that codepath that surfaced as a result?

#### Environment details

  - OS type and version: `python:3.8` container image
  - Python version: `3.8.13(3.8.13 (default, May 28 2022, 14:23:53)  [GCC 10.2.1 20210110])`
  - Poetry version: 1.2.0b1
  - `google-cloud-pubsub` version: 2.1

[2022-06-07 03:22] wjquigs11 opened #709 "Background thread did not exit. (similar to pubsub #176)"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-06-07 16:25] wjquigs11 commented on #709
This issue can be closed. I found the documentation for using credentials. I was reading the credentials from json incorrectly. It's still a bad failure mode: if the credentials supplied are not correct, the subscriber appears to connect but simply doesn't see any messages and terminates with the "thread did not exit" error. It would also be useful to include the publisher side of the json credent

[2022-06-07 16:25] #709 closed

[2022-06-08 14:33] ramirek commented on #593
Hi,
Is there any updates about this issue? I'm facing the same problem. A large amount of messages are redelivered due to the `INVALID_ACK_ID` error. I've also enabled the "exactly-once" feature.
This is problematic because we have processes that can take hours. We don't want to receive the same message multiple times and waste time on recomputing things.
Is there any workaround to force acknowled

[2022-06-08 19:45] hjtran opened #717 "The `PullResponse` docstring is inaccurate"
[code]
The `PullResponse` docstring states that the `received_messages` ... `will be empty if there are no more messages available in the backlog.`

From my [conversation](https://googlecloud-community.slack.com/archives/C0HSQF6G7/p1654709005098599) with @kamalaboulhosn on the GCP slack, this is incorrect. Kamal mentioned that there was a doc overhaul coming that would fix it but I wonder if it mi

[2022-06-08 21:40] adriangb commented on #389
+1 for this feature request

[2022-06-08 23:03] acocuzzo commented on #707
Thanks @coderanger will investigate.

[2022-06-09 14:56] acocuzzo commented on #705
Hi @redvg Thanks for the detailed information. Can you please try updating to 2.13 and see if this fixes your issue?

[2022-06-09 18:01] failure-checker[bot] opened #718 "Warning: a recent release failed"
The following release PRs may have failed:

* #715

[2022-06-11 20:30] jtressle commented on #593
@ramirek I never got it to work properly.  What I'm currently doing is turning off "exactly-once", living with the duplicates and handling them by logging messages in a database.

I think the best solution would be to have pubsub immediately return an ACK, and then take that worker offline until the process has completed.

[2022-06-14 06:18] leonardara commented on #706
@acocuzzo  any update on this?

[2022-06-14 15:41] #718 closed

[2022-06-15 14:04] acocuzzo commented on #706
Hi @leonardara, can you share an email address so I can contact you directly about the issue and get some specific subscription information? It would help me determine the reason for the errors you are getting. Thanks!

[2022-06-15 14:59] leonardara commented on #706
@acocuzzo  leonard.shi@arabesque.com

[2022-06-19 20:30] flaky-bot[bot] opened #721 "tests.system.TestStreamingPull: test_streaming_pull_max_messages failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: c4ee2a1bfb9cc439f8e4a3fc72eab9f935d4573f
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/f4fb

[2022-06-22 14:19] adamwojt opened #723 "What's up with two different publisher clients?"
Depending how imported:
`from google.cloud import pubsub_v1` or `from google import pubsub_v1`. `PublisherClient` then behaves differently.

One returns `pubsub_v1.publisher.futures.Future` and the other one `pubsub.PublishResponse` ? Their `publish` methods also take different arguments. Are those two completely different implementations ? Which one is recommended and supported version ? Do both

[2022-06-22 15:05] adamwojt opened #724 "First message high latency."
Publishing first message(s) seem to have higher lag ~0.4sec and that lowers to 0.06 sec for consecutive messages. Messages on screenshot were published with `0.2sec` space between them so they do run in separate batch threads. I found something similar on PHP library issue page https://github.com/googleapis/google-cloud-php/issues/819. Perhaps you know how to avoid such slow requests with this pyt

[2022-06-23 17:05] #723 closed, assigned to nobody

[2022-06-23 18:09] acocuzzo commented on #724
Hi @adamwojt
It's likely this is a latency from the underlying opening of GRPC connection, as well as a reopening when inactive connections are closed. Our "keepalive" settings on the GRPC channel is 30s, so if 30s passes without a publish, the underlying connection will need to be reopened.

[2022-06-23 22:32] redvg commented on #705
hi @acocuzzo  unfortunately this does not fix the issue, here is updated deps:

google-cloud-pubsub is 2.13.0 instead of 2.2.0

anyio | 3.6.1
-- | --
asgiref | 3.5.2
cachecontrol | 0.12.11
cachetools | 5.2.0
certifi | 2022.6.15
cffi | 1.15.0
charset-normalizer | 2.0.12
click | 8.1.3
cloudevents | 1.2.0
cryptography | 37.0.2
deprecated | 1.2.13
deprecation | 2.1.0
dnspython | 2.2.1
email-validator

[2022-06-24 07:56] salikadave commented on #705
@redvg Did you find a any fix around this? I am facing the same issue

The error says to try downgrading protobuf

`Downgrade the protobuf package to 3.20.x or lower`

Have you found any stable version that helps?

[2022-06-24 20:01] hjtran commented on #593
Hi all,

I think this may be an issue we're _also_ dealing with. We take messages and run computations on batches of them before acking them. The batch calculation can be cpu-heavy and in the exact example I've been testing with takes about 9 minutes. We're getting _tons_ of redeliveries.

The exact test I'm running is using 127 clients with a subscription that has a backlog of 1M messages. The cl

[2022-06-27 05:58] YungChunLu commented on #593
Hi all,

We also have consume one message a time wiht a long running task in GKE as @jtressle. We also observed that this [error](https://github.com/googleapis/python-pubsub/blob/0a11e078660eb7213a1a323fdf701d802fb1149c/google/cloud/pubsub_v1/subscriber/_protocol/streaming_pull_manager.py#L972) got raised right after we successfully ack one previous message before we consume the next one, as the s

[2022-06-27 10:14] YungChunLu commented on #593
Is possible that the background lease management actually load more messages than we request for?

[2022-07-02 15:56] allenporter opened #728 "High CPU usage for subscriber client on armv7 / raspberry pi"
#### Environment details

So far it appears the key environment difference is running on a raspberry pi armv7.

  - OS type and version:

[code]
Also tested in alpine docker.

  - Python version: `python --version`

      - Observed on python 3.9 and 3.10

  - pip version: `pip --version`
     - pip >=21.0 <=22.2
  - `google-cloud-pubsub` version: `pip show google-cloud-pubsub`

    - google-cloud

[2022-07-06 18:46] acocuzzo opened #731 "CI: Fix linter errors for Kokoro samples tests for Python >3.6"
Kokoro lint run fails with:
[code]

[2022-07-06 22:01] acocuzzo commented on #455
This feature was added in Exactly once delivery changes

[2022-07-06 22:01] #455 closed

[2022-07-07 17:29] #731 closed

[2022-07-12 00:59] bowenatbear opened #734 "Memory leak issue while publishing message"
#### Issue details
After running the application for a long time, one process keeps taking up more and more memory and finally fail the whole system. It seems the problem comes from the Publishing method using the `pubsub_v1.PublisherClient`. I have seen quite a few tickets about this memory leak issue (E.g. https://bytemeta.vip/repo/googleapis/python-pubsub/issues/395) but could not find how to f

[2022-07-12 17:00] acocuzzo commented on #706
Determined offline that this is a flow-control issue.

[2022-07-12 17:01] #569 closed

[2022-07-12 17:10] acocuzzo commented on #540
Closing as issue has no recurred.

[2022-07-12 19:22] acocuzzo commented on #593
Invalid ack id errors are due to acking a message that is past expiration and has already been redelivered. These errors are passed to the user with exactly once delivery because in exactly once delivering, acking is transactional.
Therefore they are not being redelivered due to the INVALID_ACK_ID error, but due to expiration.
Depending on what your flow control settings are, and the health of you

[2022-07-12 19:32] acocuzzo commented on #593
As for @YungChunLu,  with flow control set to 1 message, the lease will hold 1 message, so depending on how long your "long runnuing task" is, there still could be an expiration happening. How long does the processing take per message, and what are your flow control settings?

[2022-07-12 19:34] acocuzzo commented on #593
@hjtran What are your flow control settings?
and can you please clarify what you mean by "acks get lost" and "messages get leftover"?

[2022-07-12 19:37] acocuzzo commented on #593
@YungChunLu @hjtran @ramirek Most customers with CPU intensive tasks/long running tasks who see duplicates, have seen more luck with adjusting their flow control settings than with enabling exactly once delivery.

[2022-07-12 20:01] hjtran commented on #593
@acocuzzo My flow control settings are set to allow three times the batch size of messages we process at one time (in this case, we process 1536 messages in a batch, so `max_messages=4608`). The rest of the FlowControl settings are left as default. The amount of time it takes to process a batch of messages is ~8-9 minutes, so three batches should complete well before the 60m max lease time I think

[2022-07-13 17:46] acocuzzo commented on #242
@Spawn are you still experiencing this issue with the latest version of google-cloud-pubsub?

[2022-07-13 17:54] nguaman opened #737 "Intermittent error message AuthMetadataPluginCallback : ValueError: None could not be converted to unicode"
Hello,

I have an error that appears intermittently, there may be days without the error appearing or there are times when the error is present throughout the day.

I managed to reproduce the error once, but after running the code more than 30 times.

#### Environment details

  - OS type and version: Ubuntu 20.04
  - Python version: 3.9
  - pip version: 22.1.2
  - `google-cloud-pubsub` version: 2

[2022-07-14 17:47] acocuzzo commented on #734
@bowenatbear Are you able to test your code with the new version to verify upgrading will fix you? Unfortunately because the fix was not in our library you would have to upgrade to get the fix.

[2022-07-14 18:24] bowenatbear commented on #734
@acocuzzo I see. So it seems we have to use a Python version which is later or equal to Python 3.7 to get this fix?

[2022-07-14 19:15] acocuzzo commented on #734
@bowenatbear  yes, exactly.

[2022-07-14 20:08] acocuzzo commented on #737
@nguaman This looks like a authentication error to me,

Can you check the roles on your service account?

gcloud asset search-all-iam-policies --query="policy:{your-service-account-id}@{your-project}.iam.gserviceaccount.com"

[2022-07-14 20:12] acocuzzo commented on #262
@galah92 are you still experiencing this issue?

[2022-07-14 20:22] galah92 commented on #262
I moved from Windows to MacOS / Linux machines, don't have a Windows machine anymore to test it with, sorry.

[2022-07-14 20:29] flaky-bot[bot] opened #739 "tests.system.TestStreamingPull: test_streaming_pull_blocking_shutdown failed"
Note: #538 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: dc264e977a7bab33503d2ab563896138cb08d6b6
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/bae29cbd-3121-46fb-aeb6-ceb78252d152), [Sponge](http://sponge2/bae29cbd-3121-46fb-aeb6-ceb78252d152)
status: failed
<details><summary>Test output</summary><br><pre

[2022-07-14 20:35] acocuzzo commented on #734
@bowenatbear Correction, it looks like google-cloud-pubsub=2.4.2 is the first version that has this fix, which requires Python 3.6. I hope that is helpful.

[2022-07-14 20:43] bowenatbear commented on #734
@acocuzzo I see. Thanks for the updates!

[2022-07-14 21:28] #262 closed

[2022-07-15 18:25] #739 closed

[2022-07-16 20:28] flaky-bot[bot] opened #741 "tests.system.TestStreamingPull: test_streaming_pull_ack_deadline failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: b48a5a5dc43c95ce8c466686e568e72c583de2f4
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/cc1d

[2022-07-19 15:57] dis-sid commented on #540
It happened to us in the night of 2022.07.11, I had to put down the service at the receiving end. but it took a few days to notice with ~ $500 per day of cloud logging usage.

2022-07-14 12:09:50.317 CEST [mutex.cc : 435] RAW: Lock returning 0x564c983a0378 @
2022-07-14 12:09:50.317 CEST [mutex.cc : 435] RAW: Unlock 0x564c983a0378 @
2022-07-14 12:09:50.317 CEST [mutex.cc : 435] RAW: Lock blocking 0

[2022-07-23 03:12] wescpy opened #742 "Version 1.7.2 broken for Python 2.7 users"
#### Environment details

  - OS type and version:
  - Python version: 2.7 (whatever minor version App Engine uses)
  - pip version: unknown
  - `google-cloud-pubsub` version: 1.7.2

Also see:
[code]

#### Steps to reproduce

  1. Grab the code in [this folder](https://github.com/googlecodelabs/migrate-python2-appengine/tree/master/mod19-pubsub)
  2. Extract the code from `main.py` and convert thi

[2022-07-23 19:07] acocuzzo commented on #742
Hi @wescpy I was able to run the following code without exception:
[code]
here is my pip freeze:
[code]

[2022-07-23 19:22] acocuzzo commented on #737
@nguaman I have not been able to reproduce the error. Was there any timing pattern to the errors? Is it usually on start up, or after been connected for ~35 min?

[2022-07-23 20:03] acocuzzo commented on #705
@redvg I'm sorry I'm not able to reproduce your issue, I am running the following:
[code]
which outputs the following:
[code]
my pip-freeze:
[code]

[2022-07-23 20:19] acocuzzo commented on #707
Hi @coderanger are you able to include your imports, as well as your pip freeze? I'm not able to reproduce your error, as it is the same code as we have in our samples.
Also, I recommend using streaming pull if you are able, as well as updating the client library to the latest version.

[2022-07-23 20:23] acocuzzo commented on #721
Can't repro

[2022-07-23 20:23] #721 closed

[2022-07-24 13:37] nguaman commented on #737
After several attempts, I managed to get some metrics.

- I get the error when I have a subscriber and a publisher in the same code.
- Commonly, this error occurs after 5 minutes of the subscriber listening for requests.

In the follow issue, the error is also commented.

https://github.com/googleapis/google-auth-library-python/issues/927

[2022-07-24 22:11] allenporter commented on #728
I wanted to clarify: This is marked as not an issue, but it is an issue report.  pubsub subscribers are busy loop and use a lot of cpu on armv7.

Though to be fair the "question" is if you consider this a pubsub issue or a grpc issue.

[2022-07-24 23:18] DavidKorczynski opened #744 "Continuous fuzzing integration with Google's OSS-Fuzz"
Hi,

I was wondering if you would like to integrate continuous fuzzing by way of OSS-Fuzz? Fuzzing is a way to automate test-case generation and has been heavily used for memory unsafe languages. Recently efforts have been put into fuzzing memory safe languages and Python is one of the languages where it would be great to use fuzzing.

In this https://github.com/google/oss-fuzz/pull/8072 I did an

[2022-07-25 00:55] wescpy commented on #742
Thanks for the follow-up. Let me take a look at what you did and see if I can replicate it in my dev env then try to get it to run on the GAE platform where I encountered this issue. There's a good possibility that the `grpcio` I'm using (v1.39) conflicts with the one available on App Engine servers (v1.0.0).

[2022-07-25 04:06] z3z1ma commented on #737
I get the same error using BigQuery Storage Write API which I believe is using pub/sub in the internals.

There error plus the originating method can be discerned from the below logs. Note these are exposed through a logging interface overlaying a subprocess but the google interface log information can still be easily seen.

[code]

Here is the offending function
<img width="1121" alt="image" src=

[2022-07-25 04:12] z3z1ma commented on #737
Somehow the `credential` object has None set for token.
This happens to me after quite a long time connected a grpc instance

[2022-07-25 14:15] YungChunLu commented on #593
Hi @acocuzzo , we only modify following flow control setting parameters, others are set default
- max_messages=1
- max_lease_duration=21600
- min_duration_per_lease_extension=600

What we are experiencing is that the duplicated messages just come even we certainly have not reached lease duration yet. Also, as shown in the screenshot, the extension_request often have failures.

[2022-07-25 18:36] acocuzzo commented on #593
We have discovered a possible internal mitigation for this issue. @ramirek, and anyone else that is experiencing this, please open an internal Customer support ticket, or share an email where I can discuss this with you off-thread. If you open a customer ticket, please indicate that this is a python client library related issue so that I see it. Thanks for your patience and we are hoping this miti

[2022-07-25 18:42] acocuzzo commented on #742
FYI I was using virtualenv to run, which I highly recommend if you can.

[2022-07-26 20:06] acocuzzo opened #747 "Complete futures on irregular stream shutdown"
We should add logic to complete futures during irregular stream shutdown (when subscriber.close() is called, to prevent possible deadlocks.

[2022-07-27 02:46] wescpy commented on #742
Thx for the reco... using `virtualenv` was useful. I too, was able to get a cmd-line version working (w/`grpcio 1.39`) on my local dev environment. Furthermore, when I roll it back to version 1.0.0, I was able to repro the error. Using "binary tree" testing, I discovered the fix for this bug was integrated in `grpcio` version [1.12.0](https://github.com/grpc/grpc/releases/tag/v1.12.0) with [this P

[2022-08-02 03:27] jtressle commented on #593
Hi @acocuzzo can you please email me at jmt@trnio.com?  I've mitigated this issue by checking for duplicate messages, but it'll be nice to see if your resolution works.

Thanks

[2022-08-03 07:46] nguaman commented on #737
Same Issue : https://github.com/grpc/grpc/issues/30460

[2022-08-03 15:43] BarisicLuka opened #752 "502:Bad Gateway when streaming data"
Hello everyone,

### Problem
I am using PubSub to collect messages from several devices into a topic. I have several subscription attached to this topic including one which is in PULL mode.

The service pulling messages from this subscription is a python backend using the following :

  - Debian GNU/Linux 10 (buster)
  - Python version: Python 3.7.3
  - pip version: pip 21.3.1
  - `google-cloud-pu

[2022-08-04 09:37] leonardara opened #753 "Message stuck in subscription remain as undelivered"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-08-04 15:12] acocuzzo commented on #752
Hi @BarisicLuka
Thanks for all the details, I will try to reproduce and get back to you with my findings.

[2022-08-05 13:29] BarisicLuka commented on #752
Hi @acocuzzo ,

Thanks for looking into it. This error happens after a while (once or twice a day) and not as soon a the code is executed.

I dont know if that may help you but here is an example of logs showing that when the error occurs it prevents the streaming to restart when I ask for it (5 minutes after I stopped it). On the other hand once I kill the python process and re execute it it work

[2022-08-05 20:30] flaky-bot[bot] opened #754 "tests.system: test_publish_messages failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f65d1e22f4261dfffb4e9646412ea9706e2bea74
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/12e1

[2022-08-07 14:04] gberth commented on #273
A bit frustrating that this never gets priority. And why is it blocked?

One observation, it seems that the memory usage increases faster proportional with the (time or occurrence of) reaching of max-messages.

rgds
Gunnar

[2022-08-09 14:20] acocuzzo commented on #753
Closing as internal support case has been opened.

[2022-08-09 14:20] #753 closed

[2022-08-10 18:45] acocuzzo commented on #593
Hi @jtressle, @YungChunLu , @hjtran , @ramirek Can you please kindly try to update the latest library version? We had a recent fix which could mitigate your issues: https://github.com/googleapis/python-pubsub/releases/tag/v2.13.4

In particular, do you see redeliveries after approx 35 min?

[2022-08-10 20:15] acocuzzo opened #758 "Set default stream_ack_deadline to 60 sec, or via max_duration_per_lease_extension"

[2022-08-11 15:55] #758 closed

[2022-08-11 17:01] jtressle commented on #593
Hi @acocuzzo, I ran the latest version in our pipeline overnight.  We had 12 occurrences of duplicate messages being sent, out of a possible 200 or so.  Since we are only consuming 1 message at a time, I don't think the fix v2.13.4 will address our issue?  Most of our duplicate messages do occur with our longer processes (> 30 minutes).  My lease time is set to 7200.

Thanks,

[2022-08-11 20:11] acocuzzo commented on #593
@jtressle Yes, I agree that v2.13.4 is unlikely to fix your issue. There should be a new release very shortly, v2.13.6, that may fix issues with message expirations and redeliveries at the beginning of the process. I think it would be worth updating to rule it out, but unlikely to fix redeliveries at the 35 min mark. Thanks for the update.

[2022-08-12 17:47] redvg commented on #705
@acocuzzo is it python 3.9?

[2022-08-12 18:43] redvg commented on #705
anyhow i could not make it work, i might provide a docker image for reproducing when i have time

for those struggling i fell back to `rele` which seem to be reliable alternate solution https://pypi.org/project/rele/

[2022-08-15 00:57] brijk7 commented on #754
Anna, please re-assign (and/or drop priority) if needed.

[2022-08-19 20:29] flaky-bot[bot] opened #766 "tests.system.TestStreamingPull: test_streaming_pull_blocking_shutdown failed"
Note: #739 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: f5f39a216a21a3616d02ac5eeac15d42112497a4
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/bd6e6480-ad2c-4fff-9916-700d61068ebe), [Sponge](http://sponge2/bd6e6480-ad2c-4fff-9916-700d61068ebe)
status: failed
<details><summary>Test output</summary><br><pre

[2022-08-20 04:40] YungChunLu commented on #593
@acocuzzo Our team has upgraded the version to be v2.13.6 this week, but we do not see any ack/modack failure rates decrease. We also have forwarded more detail through the support ticket.

[2022-08-23 18:38] wescpy commented on #742
**UPDATE:** I filed a bug against the App Engine team to upgrade the built-in version of `grpcio`, but in the meantime, all users who run into this issue with their Python 2 App Engine apps using Cloud Pub/Sub can just "push" the exception handler I outlined earlier up to their code, e.g., don't use the context manager for the subscriber client, and wrap the `close()`:

[code]

[2022-08-23 18:38] #742 closed

[2022-08-29 10:07] acocuzzo commented on #705
@redvg Yes, this was python 3.9. I'm glad you've found an alternate solution.

[2022-08-29 10:52] #741 closed

[2022-08-30 02:02] dutch3883 opened #771 "Can we make samples/snitppets/publisher.py support custom message?"
I think this snippet is officially used by GCP document to demonstrate how to interact with pubsub emulator.
I think it would be better if the example script provide can support custom pubsub message, so it can be as a publisher cli tool not only sample. I can help provide change. It shouldn't be big change.

Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you

[2022-08-30 07:21] KimonixDev commented on #540
although I do not use pubsub directly in my cloud run, I have similar properties of this issue:
Look at the numbers: about 1 million logs per minute.

I think google is trying to tell me something with the shape of the histogram :)
<img width="1371" alt="Screen Shot 2022-08-30 at 10 14 08" src="https://user-images.githubusercontent.com/99394545/187373907-19429892-c472-44e9-a72e-57bf94560755.png">

[2022-09-02 18:57] hongalex commented on #728
As a workaround, I wonder if it's worth considering switching to the unary "Pull" API if grpc streams are causing issues here. We do expose that as part of the python library https://cloud.google.com/pubsub/docs/pull#synchronous_pull_with_lease_management

[2022-09-04 21:28] allenporter commented on #728
Can you tell me more?

FWIW this is for a very low traffic subscriber that is usually IDLE (A subscriber for Google Nest device events).  It does not really fit the use case *"A good use case for synchronous pull with lease management is when you are processing hundreds of messages in parallel"*  described in the docs, but curious to hear more about this suggestion.

Does this make sense as a GRPC

[2022-09-05 12:12] CatalinMustata opened #778 "Scaling up number of subscribers doesn't increase consumption"
I have a number of identical clients (that's not using FlowControl yet) that subscribe to the same subscription, through streaming pull (I remember noticing this when looking at a memory leak in the client, however the GCP metrics show streaming pull at zero):

`future = subscriber.subscribe(SUBSCRIPTION, callback, use_legacy_flow_control=True)`

Normally, we're using just a few K8S pods to proces

[2022-09-05 14:13] davidjungermann commented on #540
I just had the same thing happen over a weekend, which ended up costing us over 400$.

This service is running as a Flask application in Cloud Run. No adjusted log levels.

Flask==2.1.0
flask-smorest==0.39.0
gunicorn==20.1.0
google-cloud-pubsub==2.13.6
gobbler-utils==1.0.1
jsonschema==4.14.0
pytz==2022.2.1
python-dateutil==2.8.2
google-cloud-logging==3.2.2

It would be nice to know why this occurs

[2022-09-05 15:43] KimonixDev commented on #540
Would you care sharing the exclusion filter? tnx

[2022-09-05 16:43] davidjungermann commented on #540
I did this: `resource.type = "cloud_run_revision" AND severity = "DEFAULT"`

Could definitely be extended to add some further granularity, since this could filter out potentially wanted logs from other Cloud Run containers, so use with caution! :)

[2022-09-06 17:41] hongalex commented on #728
To be frank, I haven't really looked into this issue in much detail. I was merely suggesting the use of synchronous pull since it doesn't involve the use of long lived grpc streams which might be causing the CPU overhead.

@acocuzzo could you take a look at this and verify?

[2022-09-06 22:45] acocuzzo commented on #728
Synchronous pull could be an option, but may require more development overhead as you would need to be sure to overpull (since synchronous pulls will often return empty even when there are outstanding messages), and depending on your ack latency you will need to manually modack.

I do think this is likely a grpc issue, it may be worth bringing to their issue queue, although they may have issues re

[2022-09-07 14:37] acocuzzo commented on #771
This is a nice idea, thanks for the suggestion @dutch3883

[2022-09-07 14:39] acocuzzo commented on #707
@coderanger Please reopen with your pip freeze and version information if you are still experiencing this issue.

[2022-09-07 14:39] #707 closed

[2022-09-07 14:41] acocuzzo commented on #504
@gzamb Are you able to attach the errors you are seeing?

[2022-09-07 15:31] acocuzzo commented on #778
@CatalinMustata  You may want to take a look at: https://cloud.google.com/blog/products/data-analytics/testing-cloud-pubsub-clients-to-maximize-streaming-performance
Regarding the subscriber throughput, as you scale up your subscriber clients, Cloud Pub/Sub will load balance between them. You should receive the same total number of messages.
In terms of your other questions:
- ack latencies could

[2022-09-09 23:38] anguillanneuf commented on #778
@CatalinMustata A couple of pointers to perhaps help clarify some of the concepts involved.

- in the **Health** section of the metrics dashboards for a single subscription, you should see a chart named **Delivery latency health score**, and it should show you a **utilization** score. If this score is 1, you probably already have a sufficient number of streams open for receiving messages. Generall

[2022-09-12 07:38] jtressle commented on #593
@acocuzzo 2.13.6 has not improved the duplicates issue or the ACK retries.  Two questions:

(1) is it possible for your team to reproduce the error by running a long-running CPU intensive task on a Google Instance?  Can something like this be added to the release tests?

(2) Is there a recommended way to turn on/off a pub-sub worker?  In our case, we don't need all the leasing logic that is causin

[2022-09-12 15:05] acocuzzo commented on #593
Hi @jtressle

Thanks for checking on the new version.

(1) I am currently working on a reproduction with processes of 1-2 hours, it would be helpful to know the specific memory/CPU usage for a proper reproduction. I'm not sure we could add this to the release tests but I can investigate what our options are.

(2) If you don't want the leasing logic, you can try using SynchronousPull instead of Str

[2022-09-12 21:49] anguillanneuf commented on #778
Thanks @CatalinMustata for sharing these data. They are illuminating.

**Utilization** looked great before scaling up, with a score of 1. Although it appeared to get rid of expired ack deadline, it probably wasn't going to help you improve your CPU utilization.

To improve your CPU utilization, try these two things:
1. Turn on server-side flow control by setting `use_legacy_flow_control` to false

[2022-09-13 09:11] CatalinMustata commented on #778
Thank you, @anguillanneuf! This kind of confirms my suspicions, though at first sight it doesn't seem like the number of worker threads is easily adjustable in Python.

We will experiment with different settings and report back.

[2022-09-14 17:42] anguillanneuf commented on #778
Of course! If this load test framework is of any help: https://github.com/GoogleCloudPlatform/pubsub/tree/master/load-test-framework/python_src/clients

[2022-09-15 15:10] acocuzzo opened #783 "Add example with custom service account file to snippets"
something like:
[code]

[2022-09-15 17:40] acocuzzo commented on #242
Closing as no response, please re-open if you are still experiencing

[2022-09-16 14:43] dandhlee opened #784 "Mixed up documentation between google.cloud.pubsub vs google.pubsub"
Something has happened where Sphinx might be looking at both directories; we should only grab the documentation for `google.cloud.pubsub` directory.

[2022-09-16 14:47] CatalinMustata commented on #778
Thank you! Fortunately we've already written a small script that generates data similar to our normal load.

I do have one outstanding question though: what could have caused the increase of unacked messages? Most metrics looks relatively constant until unacked starts rising...

[2022-09-16 18:52] anguillanneuf commented on #778
Yeah, I agree with you here. I can only guess that scaling up introduces cold starts problems. Subscribers need to re-establish connections and open new streams. (If that's indeed the case, we need to confirm by counting how many stream reconnects are happening - this is not a public metric now. And if it's really that bad, we need to look further for solutions for these cold stars problems. All i

[2022-09-20 20:03] acocuzzo opened #785 "Observed recoverable stream error 503 failed to connect to all addresses"
From @sls-cat comment:
#504
Is there any hints as to what causes this?  Having an application go into infinite error scroll like this is not helpful.  I would except a certain number of reconnect attempts and then failure, instead of an infinite look up reconnect attempts.  This has been attempting reconnects for a week now.

[code]

I see it started with this, which appears to have some issues in

[2022-09-20 20:06] acocuzzo commented on #785
Followup q from: @gzamb

[2022-09-20 20:08] acocuzzo commented on #504
Creating new issue for reference, as these are different errors: https://github.com/googleapis/python-pubsub/issues/785

[2022-09-20 20:08] #504 closed

[2022-09-20 20:19] acocuzzo commented on #724
@adamwojt Sorry for the late reply. If you are able to send empty messages to keep the connection warm, that will lower initial latency as the auth token will be refreshed. I will follow-up if I find alternatives.

[2022-09-20 22:45] anguillanneuf commented on #783
@acocuzzo samples across gcp and languages share a standard format and shouldn't include auth, especially if this is a one-time ask. feel free to bring in @hongalex here.

if we get a lot of requests like these, i'd suggest not update any samples but write an independent sample, if you want to surface in docs, ask the TW, but need to coordinate all 8 langs.

[2022-09-21 16:05] acocuzzo commented on #783
Thanks!

[2022-09-21 19:54] acocuzzo opened #786 "Remove expired ack_ids from lease management."
Possible root cause of: https://github.com/googleapis/python-pubsub/issues/593

#### Steps to reproduce

  1. High-latency subscriber (e.g. 2 hours)
  2. Low message count flow control
  3. Solution only works for exactly once delivery subscriptions, since they return invalid_ack_id errors.

#### Code example

[code]

### Error trace:
[code]

Even while flow control is activate and CPS client libr

[2022-09-21 20:58] #701 closed

[2022-09-22 16:43] #786 closed

[2022-09-23 18:54] acocuzzo commented on #593
@jtressle @YungChunLu  @hjtran
Through my 2hr+ testing I discovered a bug related to flow control buffering, which I've added logic to account for. If you are using exactly once delivery, please update to google-cloud-pubsub  v2.13.7, it should reduce any INVALID_ACK_ID error logs to once per redelivered message, and prevent duplicates from being delivered to the user's specified callback. Please

[2022-09-23 19:09] hjtran commented on #593
@acocuzzo
That's exciting news. Unfortunately my application does not use eod. We tried some tests with it yesterday but the throughput of messages sent to subscribers was too little for our application and relative to non-eod subscription.

[2022-09-23 20:18] acocuzzo commented on #593
@hjtran Unfortunately without eod the INVALID_ACK_ID errors are not surfaced for us to check.
I am looking in the underlying reasons for this issue with flow control (which are either server side or in the grpc layer), and hopefully I'll be able to get some answers there.

[2022-09-23 20:31] hjtran commented on #593
Thanks @acocuzzo! I appreciate the help. FWIW, I've also been talking with our GCP account manager about this for a few months in case you want to be linked to that, we've gone back and forth trying to debug this for a while. If that's helpful, I can include you on the email chain.

[2022-10-02 17:24] PeteRager commented on #785
I am having the exact same issue.   In my case, I’m working on an issue in the Home Assistant Nest Integration effecting hundreds of users.

https://www.home-assistant.io/integrations/nest/
https://github.com/home-assistant/core/issues/70479

The issue is, that when Home Assistant loses connection to the google cloud (home internet outage, LAN failure, etc), there is no notification to the client

[2022-10-03 21:13] failure-checker[bot] opened #796 "Warning: a recent release failed"
The following release PRs may have failed:

* #795 - The release job was triggered, but has not reported back success.

[2022-10-06 17:25] acocuzzo commented on #796
Release did not fail: https://github.com/googleapis/python-pubsub/releases/tag/v2.13.8

[2022-10-06 17:25] #796 closed

[2022-10-06 18:11] failure-checker[bot] opened #800 "Warning: a recent release failed"
The following release PRs may have failed:

* #795 - The release job was triggered, but has not reported back success.

[2022-10-13 16:10] liberbey opened #807 "Cannot create BigQuery subscription"
#### Environment details

  - OS type and version: macOS Monterey
  - Python version: Python 3.10.5
  - pip version: pip 22.2.2
  - `google-cloud-pubsub` version: Version: 2.13.9

#### Steps to reproduce

Follow the "Create a BigQuery Subscription" tutorial in: https://cloud.google.com/pubsub/docs/create-subscription#pubsub_create_pull_subscription-python

#### Code example

[code]

#### Stack tra

[2022-10-13 17:51] #800 closed

[2022-10-13 18:11] failure-checker[bot] opened #808 "Warning: a recent release failed"
The following release PRs may have failed:

* #795 - The release job was triggered, but has not reported back success.

[2022-10-14 04:29] #808 closed

[2022-10-14 07:22] GabrieleCalarota opened #809 "Add `pubsub.schema.get` permission to ServiceAccount with `topic.publish` permission"
**Is your feature request related to a problem? Please describe.**
There's no way to have a service account with just publisher role and reading the schema with the `pubsub.schema.get` permission.
Also it's not possible to set a specific role permission to the `pubsub_schema` role.

 **Describe the solution you'd like**
As the `google_pubsub_topic_iam_member` it could exists a `google_pubsub_schem

[2022-10-14 17:11] failure-checker[bot] opened #810 "Warning: a recent release failed"
The following release PRs may have failed:

* #795 - The release job was triggered, but has not reported back success.

[2022-10-14 19:04] #810 closed

[2022-10-17 15:10] tnguyen14 opened #811 "ModuleNotFoundError: No module named pkg_resources"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2022-10-21 17:59] kasium commented on #536
I'm not sure, but isn't the py.typed file missing in google/cloud/pubsub and google/cloud/pubsub_v1?

[2022-10-22 03:29] mservidio opened #812 "Updating labels through update_topic throws 500 service error, but successfully updates labels"
When updating labels using the update_topic function, the call fails with the message:

`500 A service error has occurred. Please retry your request. If the error persists, please report it. [code=e8c0]`

[code]

[2022-10-23 20:30] flaky-bot[bot] opened #813 "tests.system.TestStreamingPull: test_streaming_pull_max_messages failed"
Note: #721 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 42e7b694662aee9fd4893093d715f37a4a7f2fc7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ca8da89e-acbc-4f43-a165-5fcc4b449a9b), [Sponge](http://sponge2/ca8da89e-acbc-4f43-a165-5fcc4b449a9b)
status: failed
<details><summary>Test output</summary><br><pre

[2022-10-24 07:58] liberbey commented on #807
Any improvement on this?

[2022-10-24 14:36] acocuzzo commented on #807
@liberbey If you are receiving an Invalid Argument error, it's likely that the specified BigQuery table is incompatible, and does not contain the required metadata fields.
Please see the [BigQuery guide](https://cloud.google.com/pubsub/docs/bigquery):
Since you've selected false for "use_topic_schema," and the "write_metadata" please make sure your BigQuery table has the following parameters:
--
s

[2022-10-24 23:16] acocuzzo commented on #771
@dutch3883 This is going to remain as sample code, not a publisher cli, as the recommended cli tool would be the gcloud cli:
https://cloud.google.com/pubsub/docs/publish-receive-messages-gcloud

[2022-10-24 23:16] #771 closed

[2022-10-25 16:43] Gwojda commented on #593
Hi,
Facing the same problem since 2 months, any news ?
Thanks,
Gautier

[2022-10-25 16:46] hjtran commented on #593
I'm still facing the same issues, so new news I don't think. There have been a couple new releases for the python client which I was advised to upgrade and rerun my load tests but I'm still seeing lots of expired acks

[2022-10-25 17:06] Gwojda commented on #593
Exactly the same problem. I never faced the problem before switching to "exactly once" delivery system.

[2022-10-25 17:07] hjtran commented on #593
Ah I see the issue without exactly-once. I'm about to run a LoadTest with exactly-once to see if that fixes anything

[2022-10-25 17:15] Gwojda commented on #593
Oh, interesting. I was sure that it was because of this option that this error had arrived on our application.

[2022-10-25 18:25] hjtran commented on #593
@acocuzzo any developments?

[2022-10-25 19:48] acocuzzo commented on #593
@Gwojda I would highly recommend reaching out via Cloud support for help on your individual issue, as causes differ case to case.
The latest version of the client library should help (as a mitigation) if you have EOD enabled, and you have high message latency and low flow-control settings.
The remaining mitigations and investigation would have to go through Cloud support as the causes differ betwe

[2022-10-26 09:31] Gwojda commented on #593
Hi,
I don't think the causes differ, I have the impression that we are all facing the same problem.
Impossible for me to contact the gcp support service which is paid and which we do not have in our subscription. Anyone else concerned can escalate the issue?

[2022-10-26 13:34] acocuzzo commented on #593
@Gwojda Can you please clarify your issue (since @jtressle had different issues at different times), and are you on the latest client library version? Thanks

[2022-10-27 12:40] alonme commented on #238
@meredithslota  @anguillanneuf

any chance this is also missing from the examples of `PublisherClient` ?

i see that it also has an __exit__ method

https://github.com/googleapis/python-pubsub/blob/c52aa059cceaea034e902922559ff138df7cd00d/google/pubsub_v1/services/publisher/client.py#L1430

does this also create a resource leak?

[2022-10-29 20:58] manuelfedele commented on #273
Could this be related to https://github.com/grpc/grpc/issues/28747 ?

[2022-10-30 21:07] jtressle commented on #593
@acocuzzo I initially submitted a ticket with cloud support, and they unfortunately were not helpful.  Their recommendation was to seek support through this ticket, as they did not have the expertise to handle Pub/Sub code issues. I'd expect this from something that's in beta, but Pub/Sub is a released product.

Regarding issues, I have two that are both related to long-running tasks.  With EOD, I

[2022-10-31 08:51] Gwojda commented on #593
```Regarding issues, I have two that are both related to long-running tasks. With EOD, I get the INVALID_ACK_ID issue. With EOD turned OFF, I get duplicate messages being sent before the lease is done. Both these issues prohibit me from running PubSub reliably. At the end, I'm using a database to track duplicate messages, which works except in the case of some race conditions.```
=> Facing the sam

[2022-11-03 14:59] jtressle commented on #593
@Gwojda how are you ignoring the INVALID_ACK_ID?  In my case, it disrupted my process I was running.

Thanks

[2022-11-03 19:49] acocuzzo commented on #752
Hi @BarisicLuka @kc-sn:
You can enable GRPC debug logs programmatically via:
[code]

[2022-11-03 19:51] acocuzzo commented on #809
This doesn't relate specifically to the python client, but I'm going pass this along as a feature request for the service.

[2022-11-03 19:51] #809 closed

[2022-11-03 20:06] kc-sn commented on #752
`tcp` is simply too verbose at the volume our system runs at, with:

[code]

Datadog is reporting 502 bad gateways while the logging from GRPC doesn't report any 502s. I suspect datadog is instrumenting with [unary interceptor hooks](https://github.com/DataDog/dd-trace-py/blob/1.x/ddtrace/contrib/grpc/client_interceptor.py) -- where there is no logging traditionally.

https://grpc.github.io/grpc/p

[2022-11-04 08:30] BarisicLuka commented on #752
Hi @acocuzzo @kc-sn

The logs I provided were generated without any specific configuration / debugging options, tthe exceptions was raised by the `pubsub_v1.SubscriberClient`.
Do those 502s block the pulling mechanism ?

[2022-11-04 09:25] liberbey commented on #807
Thanks!

[2022-11-04 09:25] #807 closed

[2022-11-07 20:51] kc-sn commented on #752
@BarisicLuka the errors we're seeing are not being propagated to the surface, but instead, are handled internally (and silently). The only reason we're seeing them is that datadog tracer has an interceptor on the GRPC library.

[2022-11-09 15:33] allenporter commented on #728
Looks like #30428 on the grpc side is tracking this

[2022-11-10 18:44] acocuzzo commented on #812
@mservidio Did this happen only once, or does it happen every time you update a topic?
It's likely that this is a service issue and therefore please open a Cloud Support ticket.

[2022-11-10 18:46] #724 closed

[2022-11-10 18:48] acocuzzo commented on #273
Following up with grpc folks to see when this fix will be in a grpc release (currently the change is checked in, but not included in the latest release). As soon as it is in a release, we will update the client library.

[2022-11-10 19:05] acocuzzo commented on #273
According to grpc folks, this change will be included in grpc release: v1.51.0, which will be out in approx 1-2 weeks.

[2022-11-10 19:22] mservidio commented on #812
@acocuzzo - It happens often for me, will do.

[2022-11-10 19:22] #812 closed

[2022-11-10 19:35] acocuzzo commented on #624
@Magikzigo Please re-open if you are still experiencing this issue, and please attach your pip freeze.

[2022-11-10 19:35] #624 closed

[2022-11-11 19:15] acocuzzo commented on #593
There is a new library release which I think should reduce **some** of the leasing time:
https://github.com/googleapis/python-pubsub/releases/tag/v2.13.11

In particular, this should reduce:

1) With and without exactly once delivery:
Reduces leasing time for subscriber clients with a high number of max_messages (as leasing time is related to the # of messages being leased). If you are still exper

[2022-11-11 19:17] acocuzzo commented on #593
@jtressle
In order to prevent "INVALID_ACK_ID" exceptions from interrupting your client, please use:
[code]

[2022-11-16 07:24] tanvi008 opened #822 "Watch Request: get push notiifcation only when new mail receives"
Hello all,
I am trying to achieve push notification when a new mail arrives in our inbox and aslo achieved it successfully.
But can I know if we can get push notification only when new mail is received in our mailbox and not when any change occurs in the given or subscribed mailbox
So that we can get the message list or message detail only of the new received mail.

Like is there any sort of filte

[2022-11-17 14:51] acocuzzo commented on #822
Are you asking about filtering messages on a Pub/Sub subscription?
Please see the docs about filtering messages:
https://cloud.google.com/pubsub/docs/subscription-message-filter

[2022-11-17 14:52] acocuzzo commented on #705
Closing this issue as we still don't have a reproduction.

[2022-11-17 14:52] #705 closed

[2022-11-17 15:49] acocuzzo commented on #785
For your specific use case, I'm wondering if your "staleness" issue could be solved by checking the age of the last processed message. Is this a possible fix for your specific case?

[2022-11-17 15:51] #734 closed

[2022-11-17 15:51] #783 closed

[2022-11-17 15:58] acocuzzo commented on #273
The pre-release v1.15.0-pre1 contains the fix:
https://github.com/grpc/grpc/releases/tag/v1.51.0-pre1

[2022-11-17 16:25] PabloRR100 opened #825 "Can't reach GCP PubSub Emulator"
I have setup the PubSub emulator to run a Python script locally pointing to it.
The emulator is run following the tutorial and it seems to be working fine:
[code]

**It is working fine using curl:**
[code]
Although it is displaying this warning on the emulator:
[code]

If I try it with **the Python client, it just never reaches the server,** since I can't see anything in the logs. This is the Pyth

[2022-11-21 13:39] kc-sn opened #827 "502 bad gateway error logging / reporting"
I've had a support ticket open with GCP support since September tracking this issue. We are receiving between 100-1000+ daily reports of `502 bad gateway` via Datadog APM while utilizing pubsub at production volumes (200+ messages/sec at peak). (see https://github.com/DataDog/dd-trace-py/issues/4588 for details).

Thus far, GCP support has not been able to correlate these errors with anything on t

[2022-11-23 20:59] acocuzzo commented on #825
Please set the host to `localhost:8085` to match the hostname the emulator is running on.

[2022-11-24 02:22] acocuzzo commented on #273
The release fix is out: https://github.com/grpc/grpc/releases/tag/v1.51.0

[2022-11-24 02:22] #273 closed

[2022-11-24 21:29] flaky-bot[bot] opened #828 "tests.system.TestStreamingPull: test_streaming_pull_ack_deadline failed"
Note: #741 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 311dd958da35e30144d046d357fa2354d3b495df
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0f435ec8-96f8-434f-a8d1-c75196cd3cca), [Sponge](http://sponge2/0f435ec8-96f8-434f-a8d1-c75196cd3cca)
status: failed
<details><summary>Test output</summary><br><pre

[2022-11-30 11:31] jovoss commented on #540
The excessive logging happened to us as well. Beginning 2022-12-28 without any upgrades/updates to the Cloud Run container/deployment.

We are using the following grpc versions in our python module:
grpcio==1.44.0

Re-deploying the service did not fix the issue.
We implemented @davidjungermann exclusion filter to quick-fix the issue.

We are looking forward to a definitive answer why this is happe

[2022-11-30 21:14] dbalogVEP commented on #540
This happened to us at the beginning of the month, $2,393.67 in Log Volume charges.

[2022-11-30 22:26] acocuzzo commented on #540
I'm unable to reproduce the issue, if anyone has a consistent repro, it will help me narrow things down for the grpc folks. Thanks, appreciate the patience and information.